body {
  /*padding-left: 11em;*/

  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color:silver;
  background-image: url("../web/img/imagenesHome/fondo2.jpeg");
  
  
}
/*
#contenido {
  //background-color: green;
}
*/

.size{
  width: 100%;
  height: 250px;
}

.cucu {
	color: black;
	text-decoration: underline overline;
}


h1{
  color: black;
  text-decoration: underline overline;
  
}

h2 {
	color:white;
  text-decoration: underline overline;
  background-color: black;
  padding:7px;
}

h3 {
	text-decoration: underline;
}
p {
  color: black;

}

.blan {
  background-color: black;
 
}

.iz {
	display: flex;
  justify-content: left;
  width: 100%;

}

.centrar {
  text-align: center;
 
}

.linea {
  display: inline-block;
}

/* a */
.but:link, .but:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.but:hover, .but:active {
  background-color: silver;
  color: black;
}

.com{
  color: red;
}
/* Barra de navegación */

.container{
  margin-top: -2%;
  padding: 0px;
  background-color:white;
  
  
}

.car {
  margin-right:25px;
  margin-bottom: 5px;
  margin-top: 5px;
}



#con{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

.card{
  float: left;
  box-shadow: 2px 2px black;
  
}

iframe{
  width: 74%;
  height:515px;
  border-bottom: 5px solid black;

}
.card-deck{
   width: 99%;
  margin-left: 1%;

}
/* REGISTRO */


/* FIN REGISTRO */



/* inicio tabla */
table {
	border-collapse: collapse;
	width: 60%;
	//margin-left: 20%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* fin tabla */


/* input submit */

.inpu {

  background: #0066A2;
  
  color: white;
  
  border-style: outset;
  
  height: 50px;
  
  width: 100px;
  
  font: bold 15px arial, sans-serif;
  
  text-shadow:none;

  margin-top: 15px;
  
  }

  .inpu:hover {
    background-color: blue;
  }

  input{
    margin-bottom: 10px;
  }
  /**/

  label {
    color: black;
    font-weight: bold;
    margin-right: 5px;
   }


   /* editar perfil*/

   #editarPerfil {
    text-align: center;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
    margin-top: -80px;
    width: 180px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.19);
    margin-bottom: 10px;
}

#volverPerfil {
  text-align: center;
  background-color: silver;
  display: inline-block;
  cursor: pointer;
  color:black;
  margin-top: -100px;
  margin-left: 700px;
  width: 180px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.19);
  margin-bottom: 10px;
  font: bold 15px arial, sans-serif;
}

.pie{
  background-color: white;
  margin-top: 20px;
 
}

#titulo{background-color: white;}

