
body{
	margin: 0px;
	text-align: center;
}

#contenedor{
	
	width: 50%;
	height:670px;
	//background-image: url("img/imagenesTragaperras/vini.jpg");
	background-size: 100%;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	border:1px solid black;
	
}

#disponible{
	border:1px solid black;
	width: 25%;
	background-color:Silver;
	color:black;
	text-align: center;
	float:left;
	padding: 10px;
	font-size: 40px;

	
}

section#mensaje{
	width:100%;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	color: white;
	font-size: 23px;
	font-weight: bold;
}

#caballo{
	height: 140px;
	width: 100%;
}

section#cajas{

	background-color: silver;
	margin-top: 15px;
	
}

p{
	text-align: center;
	color:black;
}


#divApuesta{

	height:350px;
	width:100%;
	position:relative;
	padding-top:5%;
}
#apuesta{
	height:110px;
	width:50%;
	margin-top: 10px;
	margin-left: 25%;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top:20px;
	position:relative;
	font-size: 95%;
}

.fichas{
	width: 50%;
	background-color: pink;
	color:red;
	margin-bottom: 2px;
	text-align: center;
	position:absolute;
	bottom:10%;
	right:25%;
}

#caja1, #caja2, #caja3{
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: 150px;
	width: 140px;
	height: 147px;
	border:1px solid red;
}

section#gira{
	width: 60%;
	margin-top:5%;
	padding-bottom: 25px;
	padding-top:5%;
	text-align: center;
	background-color: red;
	color:white;
	font-size: 25px;
	font-weight: bold;
	position:absolute;
	
	
}

#gira{
	margin-left: 20%;
	
}


.a1{
	background-image: url("../img/imagenesTragaperras/siete.png");
}
.a2{
	background-image: url("../img/imagenesTragaperras/cereza.png");
}
.a3{
	background-image: url("../img/imagenesTragaperras/limon.png");
}
.a4{
	background-image: url("../img/imagenesTragaperras/platano.png");
}
.a5{
	background-image: url("../img/imagenesTragaperras/naranja.png");
}
.a6{
	background-image: url("../img/imagenesTragaperras/sandia.png");
}
.a7{
	background-image: url("../img/imagenesTragaperras/bar.png");
}


@media only screen and (max-width: 1320px) {
	body {
	  background-color: lightblue;
	}

	#contenedor{
		margin-top:2%;
		width:80%;
		height:980px;
	}

	.fichas{
		margin-top: 2%;
	}
	
  }

  